#page-wrapper{
    display: flex;
    height: 100vh;
    width:100%;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: nowrap;
}
.card{
    height: 28rem;
}
.card-img-top{
    height: 10rem;
}
.section-title{
    padding-bottom: 2rem;
}

#main{
    overflow: auto;
    width: 85%;
    height: 100vh;
}

#Sidebar{
    width: 15%;
    overflow:auto;
    height: 100vh;
}